*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Roboto Mono', monospace;
}

#RightContent::-webkit-scrollbar{
  display: none;
}

/* Importing Champagne & Limousines Font Family */

